* {
    --bone-primary: #ebe4d5;
    --bone-secondary: #bebab2;
    --dark-theme-bg: #242424;
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-theme-bg) !important;
}

#icons {
    position: fixed;
    bottom: 5%;
    left: 5%;
    width: 90%;
}

.icon {
    margin-right: 1vw;
    transition-duration: .3s;
    filter: invert(0.50);
}

.icon img {
    width: 4rem;
}

.icon:hover {
    filter: invert(0);
}

#hero {
    width: 95%;
    height: 80vh;
    position: relative;
}

@media (min-width: 992px) {
    #hero {
        padding-left: 5%;
        padding-top: 20vh;
    }
}

#hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: var(--bone-primary);
}

#hero h2 {
    color: var(--bone-secondary);
}

@media (max-width: 992px) {
    #hero {
        text-align: center;
        width: 100vw;
        height: 70vh;
        padding-top: 30vh;
    }

    #hero h1 {
        font-size: 32px;
        line-height: 36px;
    }

    #hero p {
        margin-top: 10px;
        font-size: 20px;
        line-height: 24px;
    }
}